####################################################################
#	hqos: 1:ON, 0:OFF                                          #
#	txq_num: 16:default (only supports 64 queues for MT7622)   #
#	scheduling: wrr: weighted round-robin, sp: strict priority #
#	sch0_bw: sch0 bandwidth (unit:Kbps)                        #
#	sch1_bw: sch1 bandwidth (unit:Kbps)                        #
####################################################################
config global global
	option enable 1
	option hqos 1
	option txq_num 16
	option scheduling 'wrr'
	option sch0_bw 550000
	option sch1_bw 40000

####################################################################
#	id: queue id                                               #
#	minrate: percentage of min rate limit                      #
#	maxrate: percentage of max rate limit                      #
#	weight: weight for queue schedule                          #
#	resv: buffer reserved for HW/SW path                       #
####################################################################
config queue
        option id 0
        option minrate 10
        option maxrate 80
        option weight 4
        option resv 4
        
config queue
        option id 8
        option minrate 10
        option maxrate 80
        option weight 4
        option resv 4        

config queue
        option id 1
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 2
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 3
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 4
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 5
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 6
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 7
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 9
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 10
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 11
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 12
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 13
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 14
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 15
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

####################################################################
#	Default setting supports 16 queues (id: 0~15)              #
#	Only supports 64 queues for MT7622                         #
####################################################################
config queue
        option id 16
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 17
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 18
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 19
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 20
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 21
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 22
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 23
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 24
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 25
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 26
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 27
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 28
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 29
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 30
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 31
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 32
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 33
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 34
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 35
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 36
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 37
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 38
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 39
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 40
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 41
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 42
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 43
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 44
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 45
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 46
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 47
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 48
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 49
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 50
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 51
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 52
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 53
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 54
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 55
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 56
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 57
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 58
        option minrate 30
        option maxrate 100
        option weight 2
        option resv 4

config queue
        option id 59
        option minrate 30
        option maxrate 100
        option weight 4
        option resv 4

config queue
        option id 60
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 61
        option minrate 30
        option maxrate 100
        option weight 6
        option resv 4

config queue
        option id 62
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 63
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 64
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 65
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 66
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 67
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 68
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 69
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 70
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 71
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 72
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 73
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 74
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 75
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 76
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 77
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 78
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 79
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 80
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 81
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 82
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 83
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 84
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 85
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 86
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 87
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 88
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 89
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 90
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 91
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 92
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 93
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 94
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 95
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 96
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 97
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 98
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 99
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 100
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 101
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 102
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 103
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 104
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 105
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 106
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 107
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 108
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 109
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 110
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 111
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 112
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 113
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 114
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 115
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 116
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 117
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 118
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 119
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 120
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 121
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 122
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 123
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 124
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 125
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 126
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4

config queue
        option id 127
        option minrate 30
        option maxrate 100
        option weight 8
        option resv 4
